In [11]:
import pandas as pd

# IMPORT FILE NI BOS
data = pd.read_csv("gandum.csv", header = None)
data.set_axis(["Id", "Daerah", "SumbuUtama", "SumbuKecil", "Keunikan", "AreaBulatan", "Diameter", "KadarAir"
              , "Keliling", "Bulatan", "Ransum", "Kelas"], axis = 1, inplace = True)
data.set_index("Id", inplace = True)
data.head()

,Daerah,SumbuUtama,SumbuKecil,Keunikan,AreaBulatan,Diameter,KadarAir,Keliling,Bulatan,Ransum,Kelas
Id,,,,,,,,,,,
1,5781,128.288875,58.470846,0.890095,5954,85.793926,0.674090,316.756,0.724041,2.194066,1
2,4176,109.348294,49.837688,0.890098,4277,72.918093,0.596231,260.346,0.774227,2.194088,1
3,4555,114.427991,52.151207,0.890105,4706,76.155145,0.776641,279.606,0.732159,2.194158,1
4,4141,108.701191,49.457349,0.890499,4236,72.611879,0.633180,260.478,0.766960,2.197877,1
5,5273,122.747869,55.757848,0.890876,5431,81.937733,0.669842,302.730,0.723031,2.201446,1

In [46]:
# 1. Descriptive Analysis untuk setiap kolom
print("MEAN untuk setiap kolom") 
print()
print(data.mean())
print()
print("MEDIAN untuk setiap kolom")
print()
print(data.median())
print()
print("MODUS untuk setiap kolom")
data.mode().iloc[0]
print()
print("Standar deviasi untuk setiap kolom")
print()
print(data.std())
print()
print("Variansi untuk setiap kolom")
print()
print(data.var())
print()
print("Range untuk setiap kolom")
print()
print(data.max()  - data.min())
print()
print("Nilai minimum untuk setiap kolom")
print(data.min())
print()
print("Nilai maksimum untuk setiap kolom")
print()
print(data.max())
print()
print("Kuartil untuk setiap kolom")
data.describe().iloc[4:7]
print()
print("IQR untuk setiap kolom")
Q3 = data.quantile(0.75)
Q1 = data.quantile(0.25)
print(Q3 - Q1)
print()
print("Skewness untuk setiap kolom")
print()
print(data.skew())
print()
print("Kurtosis untuk setiap kolom")
print()
print(data.kurt())

MEAN untuk setiap kolom

Daerah         4801.246000
SumbuUtama      116.045171
SumbuKecil       53.715246
Keunikan          0.878764
AreaBulatan    4937.048000
Diameter         77.771158
KadarAir          0.648372
Keliling        281.479722
Bulatan           0.761737
Ransum            2.150915
Kelas             1.502000
dtype: float64

MEDIAN untuk setiap kolom

Daerah         4735.000000
SumbuUtama      115.405140
SumbuKecil       53.731199
Keunikan          0.890045
AreaBulatan    4857.000000
Diameter         77.645277
KadarAir          0.626117
Keliling        280.045500
Bulatan           0.761288
Ransum            2.193599
Kelas             2.000000
dtype: float64

MODUS untuk setiap kolom

Standar deviasi untuk setiap kolom

Daerah          986.395491
SumbuUtama       18.282626
SumbuKecil        4.071075
Keunikan          0.036586
AreaBulatan    1011.696255
Diameter          8.056867
KadarAir          0.094367
Keliling         37.335402
Bulatan           0.061702
Ransum            0.249767
Kelas             0.500497
dtype: float64

Variansi untuk setiap kolom

Daerah         9.729761e+05
SumbuUtama     3.342544e+02
SumbuKecil     1.657365e+01
Keunikan       1.338528e-03
AreaBulatan    1.023529e+06
Diameter       6.491311e+01
KadarAir       8.905149e-03
Keliling       1.393932e+03
Bulatan        3.807194e-03
Ransum         6.238350e-02
Kelas          2.504970e-01
dtype: float64

Range untuk setiap kolom

Daerah         4931.000000
SumbuUtama      153.795469
SumbuKecil       29.071182
Keunikan          0.194085
AreaBulatan    5141.000000
Diameter         40.747172
KadarAir          0.468972
Keliling        291.822000
Bulatan           0.730158
Ransum            1.024013
Kelas             1.000000
dtype: float64

Nilai minimum untuk setiap kolom
Daerah         2522.000000
SumbuUtama       74.133114
SumbuKecil       39.906517
Keunikan          0.719916
AreaBulatan    2579.000000
Diameter         56.666658
KadarAir          0.409927
Keliling        197.015000
Bulatan           0.174590
Ransum            1.440796
Kelas             1.000000
dtype: float64

Nilai maksimum untuk setiap kolom

Daerah         7453.000000
SumbuUtama      227.928583
SumbuKecil       68.977700
Keunikan          0.914001
AreaBulatan    7720.000000
Diameter         97.413830
KadarAir          0.878899
Keliling        488.837000
Bulatan           0.904748
Ransum            2.464809
Kelas             2.000000
dtype: float64

Kuartil untuk setiap kolom

IQR untuk setiap kolom
Daerah         1452.750000
SumbuUtama       24.930694
SumbuKecil        5.131582
Keunikan          0.043902
AreaBulatan    1484.000000
Diameter         11.903290
KadarAir          0.154001
Keliling         50.179500
Bulatan           0.064370
Ransum            0.397673
Kelas             1.000000
dtype: float64

Skewness untuk setiap kolom
Daerah         0.238144
SumbuUtama     0.761529
SumbuKecil    -0.010828
Keunikan      -1.623472
AreaBulatan    0.257560
Diameter       0.002725
KadarAir       0.493661
Keliling       0.733627
Bulatan       -3.599237
Ransum        -0.658188
Kelas         -0.008024
dtype: float64

Kurtosis untuk setiap kolom
Daerah         -0.434631
SumbuUtama      4.330534
SumbuKecil      0.475568
Keunikan        2.917256
AreaBulatan    -0.409685
Diameter       -0.466455
KadarAir       -0.740326
Keliling        2.272685
Bulatan        29.975096
Ransum         -0.428656
Kelas          -2.007984
dtype: float64